@import url(https://fonts.googleapis.com/css?family=Muli);

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Muli', sans-serif;
    text-align: justify;
}

header{
    background: #4c00ff;
    height: 130px;
}

footer{
    margin-top: 20px;
    background: #4c00ff;
    height: 50px;
}

header div, footer div{
    width: 80%;
    margin: 0 auto;
    color: black;
}

h1{
    font-size: 2.3rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    text-align: center;
}

h2{
    font-size: 2rem;
}

section{
    overflow: hidden;
    margin: 0.5%;
    width: 150%;
}

section article{
    font-size: 0.9rem;
    height: 350px;
    width: 32.33%;
    border: 2px dashed #16A085;
    padding: 1%;
    box-sizing: border-box;
}

section article img{
    height: 180px;
    max-width: 80%;
}

